h1 {
    font-size: 315%;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 100%;
    text-align:center;

}

.ex10 h1:before {
content: "";
position: absolute;
border: 10px solid transparent;
border-left: 20px solid rgb(81, 227, 213);
top: 5.7%;
margin: 0 auto;
left: 21%;
}

.ex10 h1:after {
content: "";
position: absolute;
border: 10px solid transparent;
border-right: 20px solid rgb(81, 227, 213);
top: 5.7%;
margin: 0 auto;
right: 21%;
}

.hint h2 {
    font-size: 200%;
    font-weight: 400;
    text-align:center;
}


.value {
    width: 750px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -260px;
}

.value p {
    font-size: 40px;
}


input[type="text"] {
   border: 1px solid #cccccc; //цвет рамки
   border-radius: 3px; //закругление углов (общее)
   -webkit-border-radius: 3px; //закругление углов (Google Chrome)
   -moz-border-radius: 3px; //закругление углов (FireFox)
   -khtml-border-radius: 3px; //закругление углов (Safari)
   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 24px; // высота на свое усмотрение
   width: 120px; // ширина на свое усмотрение
   color: #cccccc; //цвет шрифта в обычном состоянии
   font-size: 11px; // Размер шрифта
   font-family: Tahoma; // Стиль шрифта
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;

